body{
    text-align: center;
    margin-top: 50px;
    background-color: #f1f1f1;
    font-family: 'courier' cursive;
    color: #ffd199;
}

.answerButton {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin: 10px;
  font-family: "courier";
  margin-bottom: 20px;
  background-color: #ffe3e1;
  color: #e67373;
  border-radius: 12px;
  border: 2px solid #ffe3e1;
  box-shadow: 1px 1px 2px #ff9494;
  transition: 0.3s;
}