body{
    text-align: center;
    margin-top: 50px;
    background-color: #995959;
    font-family: 'courier' cursive;
    color: #ffd199;
}
img {
  height: 400px;
  width: auto;
  padding: 10px;
  background-color: #995959;
}

.answerButton {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin: 10px;
  font-family: "courier", cursive;
  margin-bottom: 20px;
  background-color: #ffccc5;
  color: #d85555;
  border-radius: 15px;
  border: 2px solid #ffccc5;
  box-shadow: 1px 1px 2px #ff7070;
  transition: 0.3s;
}

#valentinesImage {
  transition: opacity 0.3s ease;
}

#buttonRow {
  display: flex;
  gap: 20px;
  justify-content: center;
  position: relative;
}

#no {
  position: relative;
  transition: transform 0.1 ease-out;
}

#answerButton:hover {
  background-color: #9b3e3e;
  color: #8a5854;
  border: 2px solid #ff9494;
  box-shadow: 1px 1px 2px #8e6f6d;
}

#valentinesQuestion {
  font-size: 24px;
  margin-bottom: 20px;
}

.image-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}